{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="uk">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Сервіс обліку студентів - {% block meta_title %}{% endblock meta_title %}</title>
		<meta name="description"
			value="Students Accounting Service for educational institution" />

		<!-- Include Styles -->
		<link rel="stylesheet"
				href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ PORTAL_URL }}{% static 'css/main.css' %}">

        {% block extra_css %} {% endblock extra_css %}

	</head>

	<body>
		<!-- Start Container -->
		<div class="container">
			<!-- Start Header -->
            {% block header %}
                <div class="row" id="header">

                    <!-- Logo -->
                    <div class="col-xs-8">
                        <h1>Сервіс обліку студентів</h1>
                    </div>

                    <!-- Groups Selector -->
                    <div class="col-xs-4" id="group-selector">
                        <strong>Група:</strong>
                        <select>
                             <option value="">Всі Студенти</option>
                             {% for group in GROUPS %}
                             <option value="{{ group.id }}"{% if group.selected %}
                             selected="1"{% endif %}>{{ group.title }}{% if group.leader %},
                             {{ group.leader }}{% endif %}</option>
                             {% endfor %}
                        </select>
                    </div>
                </div>
            {% endblock header %}

            <!-- End Header -->

            <!-- Start Subheader -->
            {% block menu %}
                <div class="row" id="sub-header">
                    <div class="col-xs-12">
                        <ul class="nav nav-tabs" role="tablist">

                            <!-- appropriate variables for active tab -->
                            {% url 'home' as url_home %}
                            {% url 'journal' as url_journal %}
                            {% url 'groups' as url_groups %}
                            {% url 'exams' as url_exams %}
                            {% url 'contact_admin' as url_contact %}

                            <li role="presentation" {% if request.path == url_home %}class="active" {% endif %}><a href="{% url 'home' %}">Студенти</a></li>
                            <li role="presentation" {% if request.path == url_journal %}class="active" {% endif %}><a href="/journal">Відвідування</a></li>
                            <li role="presentation" {% if request.path == url_groups %}class="active" {% endif %}><a href="{% url 'groups' %}">Групи</a></li>
                            <li role="presentation" {% if request.path == url_exams %}class="active" {% endif %}><a href="{% url 'exams' %}">Іспити</a></li>
                            <li role="presentation" {% if request.path == url_contact %}class="active" {% endif %}><a href="{% url 'contact_admin' %}">Контакт</a></li>
                        </ul>
                    </div>
                </div>
            {% endblock menu %}

            <!-- End Subheader -->

            <!-- Start Content Columns -->
            <div class="row" id="content-columns">
                <div class="col-xs-12" id="content-column">

                    <!-- Status Message -->
                    {% block status_message %}
                    {% if request.GET.status_message %}
                    <div class="alert {% if request.GET.success == '1' %}alert-success{% else %}alert-warning"{% endif %} role="alert">{{ request.GET.status_message }}</div>
                    {% endif %}
                    {% endblock %}


                    <h2>{% block title %}{% endblock title %}</h2>

                    {% block content %}{% endblock content %}

                </div>
            </div>
            <!-- End Main Page Content -->

            <!-- Start Footer -->
            {% block footer %}
                <div class="row" id="footer">
                    <div class="col-xs-12">
                        &copy; 2014 Сервіс Обліку Студентів
                    </div>
                </div>
            {% endblock footer %}
            <!-- End Footer -->

        </div>
        <!-- End Container -->

        <!-- Javascript section -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="{% static "js/jquery.cookie.js" %}"></script>
        <script src="https://cdn.jsdelivr.net/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="{% static "js/main.js" %}"></script>
        {% block extra_js %}{% endblock extra_js %}
    </body>
</html>