{% extends "students/base.html" %}


{% load static from staticfiles %}


{% block meta_title %}Журнал відвідування{% endblock meta_title %}


{% block title %}Облік Відвідування{% endblock title %}

{% block content %}

    <p id="month">&larr;Жовтень 2014&rarr;</p>

    <!-- Start of Table -->
    {% if journal_data %}
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Студент</th>
                <th>Ср 1</th>
                <th>Чт 2</th>
                <th>Пт 3</th>
                <th>Сб 4</th>
                <th>Нд 5</th>
                <th>Пн 6</th>
                <th>Вт 7</th>
                <th>Ср 8</th>
                <th>Чт 9</th>
                <th>Пт 10</th>
                <th>Сб 11</th>
                <th>Нд 12</th>
                <th>Пн 13</th>
                <th>Вт 14</th>
                <th>Ср 15</th>
                <th>Чт 16</th>
                <th>Пт 17</th>
                <th>Сб 18</th>
                <th>Нд 19</th>
                <th>Пн 20</th>
                <th>Вт 21</th>
                <th>Ср 22</th>
                <th>Чт 23</th>
                <th>Пт 24</th>
                <th>Сб 25</th>
                <th>Нд 26</th>
                <th>Пн 27</th>
                <th>Вт 28</th>
                <th>Ср 29</th>
                <th>Чт 30</th>
                <th>Пт 31</th>

            </tr>
        </thead>
        
        <!-- Content of Table -->
        <tbody>
            {% for row in journal_data %} 
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{% url 'students_edit' row.id %}">{{ row.student.name }}</a></td>
                                
                <td><input type="checkbox" {% if row.days.1 == 1 %}checked=""{% endif %}></td>  
                <td><input type="checkbox" {% if row.days.2 == 1 %}checked=""{% endif %}></td>  
                <td><input type="checkbox" {% if row.days.3 == 1 %}checked=""{% endif %}></td>  
                <td><input type="checkbox" {% if row.days.4 == 1 %}checked=""{% endif %}></td>  
                <td><input type="checkbox" {% if row.days.5 == 1 %}checked=""{% endif %}></td>  
                <td><input type="checkbox" {% if row.days.6 == 1 %}checked=""{% endif %}></td>  
                <td><input type="checkbox" {% if row.days.7 == 1 %}checked=""{% endif %}></td>  
                <td><input type="checkbox" {% if row.days.8 == 1 %}checked=""{% endif %}></td>  
                <td><input type="checkbox" {% if row.days.9 == 1 %}checked=""{% endif %}></td>  
                <td><input type="checkbox" {% if row.days.10 == 1 %}checked=""{% endif %}></td>  
                <td><input type="checkbox" {% if row.days.11 == 1 %}checked=""{% endif %}></td>  
                <td><input type="checkbox" {% if row.days.12 == 1 %}checked=""{% endif %}></td>  
                <td><input type="checkbox" {% if row.days.13 == 1 %}checked=""{% endif %}></td>  
                <td><input type="checkbox" {% if row.days.14 == 1 %}checked=""{% endif %}></td>  
                <td><input type="checkbox" {% if row.days.15 == 1 %}checked=""{% endif %}></td>  
                <td><input type="checkbox" {% if row.days.16 == 1 %}checked=""{% endif %}></td>  
                <td><input type="checkbox" {% if row.days.17 == 1 %}checked=""{% endif %}></td>  
                <td><input type="checkbox" {% if row.days.18 == 1 %}checked=""{% endif %}></td>  
                <td><input type="checkbox" {% if row.days.19 == 1 %}checked=""{% endif %}></td>  
                <td><input type="checkbox" {% if row.days.20 == 1 %}checked=""{% endif %}></td>  
                <td><input type="checkbox" {% if row.days.21 == 1 %}checked=""{% endif %}></td>  
                <td><input type="checkbox" {% if row.days.22 == 1 %}checked=""{% endif %}></td>  
                <td><input type="checkbox" {% if row.days.23 == 1 %}checked=""{% endif %}></td>  
                <td><input type="checkbox" {% if row.days.25 == 1 %}checked=""{% endif %}></td>  
                <td><input type="checkbox" {% if row.days.25 == 1 %}checked=""{% endif %}></td>  
                <td><input type="checkbox" {% if row.days.26 == 1 %}checked=""{% endif %}></td>  
                <td><input type="checkbox" {% if row.days.27 == 1 %}checked=""{% endif %}></td>  
                <td><input type="checkbox" {% if row.days.28 == 1 %}checked=""{% endif %}></td>  
                <td><input type="checkbox" {% if row.days.29 == 1 %}checked=""{% endif %}></td>  
                <td><input type="checkbox" {% if row.days.30 == 1 %}checked=""{% endif %}></td>  
                <td><input type="checkbox" {% if row.days.31 == 1 %}checked=""{% endif %}></td> 

            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
            <div class="alert alert-warning" role="alert">Поки немає даних відвідування</div>

    {% endif %}
    <!-- End of Table -->

{% endblock content %}