{% load static from staticfiles %}

{% block pagination %}
    <!-- Pagination -->
    {% if content.has_other_pages %}

    <!-- define variable for actual page -->
    {% if request.path == 'home' %}  
        {% url 'home' as current_url %}

    {% elif request.path == 'groups' %}
        {% url 'groups' as current_url %}

    {% endif %}


    {% with order_by=request.GET.order_by reverse=request.GET.reverse %}
    <nav id="paginator">
        <ul class="pagination" >
            {% if content.has_previous %}
            <li><a href="{{ current_url }}?page={{ content.first_page}}&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}">&laquo;</a></li>
            {% endif %}
            {% for p in content.paginator.page_range %}
            <li {% if content.number == p %}class="active"{% endif %}>
                <a href="{{ current_url }}?page={{ p }}&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}">{{ p }}</a>
            </li>
            {% endfor %}
            {% if content.has_next %}
            <li>
                <a href="{{ current_url }}?page={{ content.paginator.num_pages }}&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}">&raquo;</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endwith %}
    {% endif %}
{% endblock %}