{% load static from staticfiles %}

{% block pagination %}
    <!-- Pagination -->
    {% if is_paginated %}

        {% with order_by=request.GET.order_by reverse=request.GET.reverse %}
        <nav id="paginator">
            <ul class="pagination" >
                {% if object_list.has_previous %}
                <li>
                    <a href="?page=1{% if order_by %}&amp;order_by={{ order_by }}{% endif %}{% if reverse %}&amp;reverse={{ reverse }}{% endif %}{% if cur_month %}&amp;month={{ cur_month }}{% endif %}">&laquo;</a>
                </li>
                {% endif %}
                {% for p in object_list.paginator.page_range %}
                <li {% if object_list.number == p %}class="active"{% endif %}>
                    <a href="?page={{ p }}{% if order_by %}&amp;order_by={{ order_by }}{% endif %}{% if reverse %}&amp;reverse={{ reverse }}{% endif %}{% if cur_month %}&amp;month={{ cur_month }}{% endif %}">{{ p }}</a>
                </li>
                {% endfor %}
                {% if object_list.has_next %}
                <li>
                    <a href="?page={{ object_list.paginator.num_pages }}{% if order_by %}&amp;order_by={{ order_by }}{% endif %}{% if reverse %}&amp;reverse={{ reverse }}{%endif %}">&raquo;</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% endwith %}
    {% endif %}
{% endblock %}